@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProLight.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProThin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./fonts/CeraProRegular.otf") format("opentype");
  font-weight: 400;
}
body {
  margin: 0;
  font-family: "Cera Pro", sans-serif;
}
